@import url('./variable.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html{
    font-size: 100%;
  }

.container{
    display: flex;
    align-items: center;
    height: 5.5rem;
    width: 100%;
}

.container>div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 9.3%;
}

.location{
    width: 17% !important;
    flex-direction: column;
}

.location>div{
    width: 65%;
}

.location-time{
    font-size: 1.2rem;
    font-weight: var(--fw-900);
    margin-bottom: 5px;
}

.location_desc{
    font-size: 14px;
    display: flex
}
.location_desc>p{
    margin-right: 8px;
}

.search{
    width: 60% !important;
}

.search_content{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 3rem;
    border: 1px solid var(--color-border-grey);
    background-color: var(--color-border-grey);
    border-radius:10px;
}

.search_content>svg{
    height: 1.25rem;
    margin: auto 10px; 
}


.search_content>input{
    /* width: 60rem; */
    height: 2.6rem;
    font-size: 1rem;
    background-color: transparent;
    border: none;
}

.login>p{
    font-size: 1.2rem;
    font-weight: var(--fw-300);
}

.cart_btn{
    width: 7rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-greenn);
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 10px;
}

.cart_btn>svg{
    height: 1.5rem;
}

.paan{
    text-align: center;
}

.paan>img{
    width: 80rem;
}
.slider{
    width: 80rem; 
    padding: 5px 0px;
    height: 15rem;
    margin: 0 auto;
    overflow-x: scroll;
    cursor: pointer;
}

.slider::-webkit-scrollbar {
    display: none;
  }

.slider>img{
    height: 13rem;
    margin: 0px 10px;
}

.groceries{
    width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.groceries>img{
    width: 10%;
}



.dairy_section>h2{
    width: 80rem;
    margin: 2rem auto 2rem auto;

}

.dairy{
    width: 80rem;
    overflow-x:scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    margin: 0 auto;
}

.dairy::-webkit-scrollbar {
    display: none;
  }

.product{
    min-width: 11.6rem;
    /* min-height: 20rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid rgb(232, 232, 232);
    box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
    border-radius:0.5rem;

}

.product>img{
    width: 100%;
    border-radius: 0.5rem;
}

.product>div{
    width: 100%;
    padding: 0.6rem ;
}

.timer{
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 10px;
    margin-bottom: 0.2rem;
}

.timer>img{
    height: 10px;
}


.name{
    font-size: 0.9rem;
    font-weight: var(--fw-600);
    margin-bottom: 0.5rem;
}

.quantity{
    font-size: 0.8rem;
    font-weight: var(--fw-300);
    margin-bottom: 0.5rem;

}

.price_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.price_section>p{
   font-size: 0.8rem;
}

.price_section>button{
    width: 4rem;
    height: 2rem;
    border: 1px solid var(--color-green-border);
    background-color: var(--color-light-green);
    border-radius: 0.5rem;
}




footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: 20px;
    font-weight: var(--fw-600);

}


@media screen and (max-width:1750px)  {
    
    .location>div{
        width: 80%;
    }


}

@media screen and (max-width:1450px)  {

    a>svg{
        width: 5rem;
    }
   
    .location>div{
        width: 95%;
    }

    .login{
        width: 5% !important;
    }

}

@media screen and (max-width:1300px)  {
    html{
        font-size: 78%;
      }

}

@media screen and (max-width:1020px)  {
    .paan>img, .slider, .groceries, .dairy_section>h2, .dairy{
        width: 100%
    }

    .groceries{
        padding: 0rem 2rem;
        justify-content: space-between;
    }
    .groceries>img {
        width: 12%;
    }
    .dairy_section{
        padding: 0rem 1rem;
    }
}

@media screen and (max-width:900px)  {
    .login, .search{
        display: none !important;
    }
    .container>div{
        width:25%;
    }
    .location{
        width: 30% !important;
    }
    .container{
        justify-content: space-between;
        padding: 0rem 2rem;
    }
}


@media screen and (max-width:600px)  {

    .groceries>img{
        width: 20%;
    }
}

@media screen and (max-width:560px)  {

    .location{
        width: 50% !important;
    }
}


@media screen and (max-width:400px)  {

    .groceries>img{
        width: 30%;
    }
}